<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/assets/img/logo.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/stylein.css" />
    {{--  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">  --}}
    <link rel="stylesheet" href="/assets/css/sidenav.css" />
    <link rel="stylesheet" href="/assets/css/all.css">
    <title>I'm a King of my Life</title>
</head>

<body>
    <div class="col-md-12">
        <div class="row" style="background-color: #dc3545; color: white; padding: 16px; font-size: 20pt">
            <div class="col-md-2" style="text-align: left">
                <img src="/assets/img/thearka.png" alt="The ArKa" class="rounded" style="height: auto; width: 100%; padding-right: 16px">
            </div>
            <div class="col-md-5" style="text-align: center">
                
            </div>
            <div class="col-md-5" style="text-align: right">
                <a href="#logout"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
        <div class="row" style="height: 100%">
            @if(flashMessages.has('errors'))
                <div class="col-md-12">
                    {{inspect(flashMessages.get('errors'))}}
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        @each((value, key) in flashMessages.get('errors'))
                            <p>Error on {{key}} : {{ value }}</p>
                        @endeach
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            @end
            
            @if(flashMessages.has('success'))
                <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                        {{ flashMessages.get('success') }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            @end
            <div class="col-md-2 sidebar">
                <div style="text-align: center; margin: 8px">
                    <img src="/assets/img/profile.jpg" class="rounded-circle" alt="Me" width="100" height="100">
                    <div><?php echo $profiledata['nama']; ?></div>
                </div>

                <ul>
                    <li>
                        <a href="{{ route('king.index')}}" {{ request.url() == "/king" ? "class=active" : ""; }}><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="{{ route('king.profile')}}" {{ request.url() == "/king/profile" ? "class=active" : ""; }}><i class="fas fa-user-circle"></i> Profile</a>
                    </li>
                    <li>
                        <a href="{{ route('king.expertise')}}" {{ request.url() == "/king/expertise" ? "class=active" : ""; }}><i class="far fa-star"></i> Expertise</a>
                    </li>
                    <li>
                        <a href="{{ route('king.work')}}" {{ request.url() == "/king/work" ? "class=active" : ""; }}><i class="fas fa-briefcase"></i> Work Experience</a>
                    </li>
                    <li>
                        <a href="{{ route('king.edu')}}" {{ request.url() == "/king/edu" ? "class=active" : ""; }}><i class="fas fa-graduation-cap"></i> Education</a>
                    </li>
                    <li>
                        <a href="{{ route('king.interest')}}" {{ request.url() == "/king/interest" ? "class=active" : ""; }}><i class="fas fa-palette"></i> Interest</a>
                    </li>
                    <li>
                        <a href="{{ route('king.portfolio')}}" {{ request.url() == "/king/portofolio" ? "class=active" : ""; }}><i class="fas fa-award"></i> Portfolio</a>
                    </li>
                </ul>
            </div>
            <!-- Background Dark Red -->
            <div class="col-md-10 mydarkred">
                @!section('content')
            </div>
        </div>
        <div class="row" style="background-color: #dc3545; color: white; padding: 16px; font-size: 12pt">
            <div class="col-md-12" style="text-align: center">
                © 2019 Copyright TheArKa
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/js/sidenav.js"></script>
</body>

</html>